body, td {
   font-size: 13pt;
}
.r{
  font-size: 20px;
}
pre {
  font-size: 20px
}

h5 {
  font-size: 20px;
  color: blue;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}